.xgui-logo
{
	width: 100%
}

.xgui-logo img
{
	width: 80%;
	margin-left: 10%;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.col-md-8 {
    -ms-flex: 0 0 66.666667% !important;
    flex: 0 0 66.666667% !important;
    max-width: 66.666667% !important;

    z-index: 2;
}

.frontpage-banner-section.frontpage-banner-style-four .frontpage-bg
{
	width: calc(100% - 130px) !important;
	filter: blur(30px);
}

.bg-primary
{
	background-color: black !important;
}

.bg-tertiary
{
	background-color: rgba(35, 75, 194, 0.7);
	background: linear-gradient(0deg, rgba(86,40,235,1) 0%, rgba(40,89,235,1) 100%);
}

#testimonial-svg
{
	
}

.bg-overlay:before
{
	display: none !important;
}

.site-header.header-style-four .mobile-sidebar-menu.sidemenu-active .navigation
{
	backdrop-filter: blur(30px);
	background-color: rgba(0, 0, 0, 0.3);
}

.xgui-about-bg
{
	background-color: rgba(35, 75, 194, 0.7);
	background: linear-gradient(-45deg, rgba(86,40,235,1) 0%, rgba(255, 255, 255, 1) 100%);
}
.accordion .card-body p
{
	color: white;
}

.xgui-demoapp-container
{
	width: 1000px;
	margin-left: -400px !important;
	filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.3));
}

#testimonial
{
	/*background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);*/
}

.fanfact-block
{

}


.pricing-1, .pricing-2
{
	filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

.pricing-block
{
	padding-top: 50px;
	padding-bottom: 50px;
	background: linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(86, 92, 196,1) 100%);
}

.pricing-block .element-group > .element {
  position: absolute;
}

@media only screen and (max-width: 1366px) {
  .pricing-block .element-group > .element {
    display: none;
  }
}

.pricing-block .element-group > .element.one {
  top: 100px;
  left: calc(50% - 695px);
  -webkit-animation: ease-in-out bt-bottomTop-40 4s infinite;
  animation: ease-in-out bt-bottomTop-40 4s infinite;
  width: 350px;
  height: 350px;
}
.pricing-block .element-group > .element.two {
  bottom: 15px;
  right: calc(50% - 670px);
  -webkit-animation: ease-in-out bt-bottomTop-40 4s infinite;
  animation: ease-in-out bt-bottomTop-40 4s infinite;
  width: 255px;
  height: 255px;
}

.pricing-block .container .row .col-md-12 .text-feature-block .sub-title span
{
	color: white;
	opacity: 0.5;
}

.pricing-header
{
	margin-bottom: 40px;
}

.pricing-1
{
	background-image: url('../images/pricing_back1.png');
	background-color: rgba(255, 255, 255, 0.4);
}

.pricing-2
{
	background-image: url('../images/pricing_back2.png');
	background-color: rgba(255, 255, 255, 0.4);
}

.row
{
	justify-content: center;
}

.pricing-title-item1-anim-start
{
	animation: ease-in-out pricing_title_anim 2s;
}

.pricing-title-item2-anim-start
{
	animation: ease-in-out pricing_title_anim 2s;
	animation-delay: 2s;
}

.pricing-title-item3-anim-start
{
	animation: ease-in-out pricing_title_anim 2s;
	animation-delay: 4s;
}

@keyframes pricing_title_anim
{
	0%
	{
		text-shadow: 0px 0px 0px #FFF;
	}
	50%
	{
		text-shadow: 0px 0px 10px #FFF;
	}
	100%
	{
		text-shadow: 0px 0px 0px #FFF;
	}
}

.pricing-table-anim-start
{
	animation: ease-in-out pricing_box_anim 2s;
	animation-delay: 6s;
}

@keyframes pricing_box_anim
{
	0%
	{
		filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
	}
	50%
	{
		filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 1.0));
	}
	100%
	{
		filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
	}
}

.client-testimonial.style-two
{
	/*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(40,89,235,1) 100%);*/
	background: linear-gradient(180deg, rgba(179,227,249,1) 0%, rgba(40,89,235,1) 100%);
}

.client-testimonial.style-two .details
{
	background-color: transparent;
	color: white;
}

.client-testimonial .details .rating
{
	filter: drop-shadow(0px 0px 5px rgba(255, 222, 105, 1.0)) drop-shadow(0px 0px 5px rgba(255, 222, 105, 0.4));
}

.client-testimonial .details .rating > a
{
	color: rgba(255, 222, 105, 1.0);
}

.about-us-block.style-one .mock-up-thumb::after
{
	background: linear-gradient(-90deg, rgba(86,40,235,0.4) 0%, rgba(255, 255, 255, 1) 100%);
}

.btn-primary
{
	 transition: all 0.3s ease-in-out;
}

.btn-primary:hover, .btn-primary:focus
{
	color: white !important;
	background-color: dodgerblue !important;
	filter: drop-shadow(0px 0px 5px dodgerblue);
}

.footer-copyright-logo
{
	width: 38%;
}

.xgui-buybutton:hover, .xgui-buybutton:focus
{
	background: rgb(31, 194, 58) !important;
}

.frontpage-banner-section.frontpage-banner-style-four .hero-title
{
	font-size: 60px;
}

@media (max-width: 1845px)
{
	.xgui-demoapp-container
	{
		width: 900px;
		margin-left: -290px !important;
	}
}

@media (max-width: 1600px)
{
	.xgui-demoapp-container
	{
		width: 800px;
		margin-left: -180px !important;
	}
}

@media (max-width: 1440px)
{
	.frontpage-banner-section.frontpage-banner-style-four .hero-title
	{
		font-size: 50px;
	}
}

@media (max-width: 1420px)
{
	.xgui-demoapp-container
	{
		width: 700px;
		margin-left: -80px !important;
	}
}

@media (max-width: 1366px)
{
	.frontpage-banner-section.frontpage-banner-style-four .hero-title
	{
		font-size: 40px;
	}

	.xgui-header
	{
		-ms-flex-pack: center !important;
    	justify-content: center !important;
	}
}

@media (max-width: 1252px)
{
	.xgui-demoapp-container
	{
		width: 700px;
		margin-left: -40px !important;
	}
}

@media (max-width: 1202px)
{
	.xgui-demoapp-container
	{
		width: 700px;
		margin-left: -170px !important;
	}

	.frontpage-banner-section.frontpage-banner-style-four .hero-title
	{
		font-size: 40px !important;
	}
}

@media (max-width: 1133px)
{
	.xgui-demoapp-container
	{
		width: 650px;
		margin-left: -130px !important;
	}
}

@media (max-width: 1077px)
{
	.xgui-demoapp-container
	{
		width: 600px;
		margin-left: -75px !important;
	}
}

@media (max-width: 991px)
{
	.xgui-demoapp-container
	{
		width: 600px;
		margin-left: -200px !important;
	}

	.frontpage-banner-section.frontpage-banner-style-four .frontpage-banner-content
	{
		margin-left: 30px !important;
		padding-left:  0px !important;
	}

	.frontpage-banner-section.frontpage-banner-style-four .hero-title
	{
		font-size: 35px !important;
	}
}

@media (max-width: 972px)
{
	.xgui-demoapp-container
	{
		width: 550px;
		margin-left: -150px !important;
	}
}


@media (max-width: 900px)
{
	.xgui-demoapp-container
	{
		width: 500px;
		margin-left: -90px !important;
	}
}

@media (max-width: 767px)
{
	.xgui-demoapp-container
	{
		/*position: absolute !important;
		width: 500px;
		margin-left: -150px !important;
		z-index: 0;
		top: -250px !important;*/
		display: none;
	}
}


@media (max-width: 1520px)
{
	.frontpage-banner-section.frontpage-banner-style-four .frontpage-bg
	{
		width: calc(100% - 150px) !important;
	}
}

@media (max-width: 992px)
{
	.xgui-logo img
	{
		width: 70%;
		margin-left: 15%;
	}
}

@media (max-width: 767px)
{
	.about-us-block.style-one .mock-up-thumb::after
	{
		display: none;
	}

	.site-header.header-style-four .mobile-sidebar-menu.sidemenu-active .navigation
	{
		max-width: 70%;
	}
}

@media (max-width: 575px)
{
	.xgui-logo img
	{
		width: 60%;
		margin-left: 20%;
	}

	.frontpage-banner-section.frontpage-banner-style-four .frontpage-bg
	{
		width: calc(100% - 100px) !important;
	}

	.frontpage-banner-section.frontpage-banner-style-four .frontpage-banner-content
	{
		margin-left: 50px !important;
		padding-left:  0px !important;
	}

	.frontpage-banner-section.frontpage-banner-style-four .hero-title
	{
		font-size: 27px !important;
	}
}
@media (max-width: 396px)
{
	.frontpage-banner-section.frontpage-banner-style-four .hero-title
	{
		font-size: 25px !important;
	}
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}

#discord
{
	width: 32px;
}

.site-footer
{
	padding-bottom: 25px !important;
}