.video-wrapper
{
	perspective: 1000px;
}
.video-wrapper video
{
	transform: rotateY(-30deg);
	width: 700px;
	filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
	border-radius: 8px;
}

.xeavygear-hide-behindvideo
{
	width: 148px;
	position: absolute;
	margin-left: 550px;
	margin-top: -105px;
	transform: rotateY(-30deg);
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.xeavygear-mini-hide-behindvideo
{
	width: 90px;
	position: absolute;
	margin-left: 695px;
	margin-top: 100px;
	transform: rotateY(-30deg) rotateZ(95deg);
	filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.3));
}

.logo
{
	width: 65px;
}

.curvedsh001
{
	filter: drop-shadow(0px -10px 8px rgba(67, 73, 100, 0.7));
	margin-bottom: -7px !important;
}

.curvedsh002
{
	filter: drop-shadow(0px -10px 8px rgba(255, 255, 255, 0.7));
	margin-bottom: -58px !important;
}

.xbuy-button
{
	background-color: rgb(31, 194, 58);
	filter: drop-shadow(3px 3px 8px rgba(31, 194, 58, 0.7)) !important;
}

.xbuy-button:hover
{
	background-color: rgb(31, 207, 60);
	filter: drop-shadow(3px 3px 8px rgba(31, 207, 60, 1.0)) !important;
}

.xbuy-button span
{
	filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.7)) !important;
}

.xeavygear-overvideo
{
	width: 150px;
	position: absolute;
	right: 0px;
	margin-right: -150px;
	transform: rotateY(-30deg);
	top: 360px;
	filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.4)) !important;
}

.xeavygear-eye1, .xeavygear-eye2
{
	width: 16px;
	position: absolute;
}

#xeavygear-eyeball1, #xeavygear-eyeball2
{
	width: 6px;
	position: absolute;
}

.xeavygear-eye1
{
	top: 55px;
	left: 57px;
	animation: xeavygear-eye1-anim 3s ease-in-out 0s infinite;
}

.xeavygear-eye2
{
	top: 55px;
	left: 77px;
	animation: xeavygear-eye1-anim 3s ease-in-out 0s infinite;
}

#xeavygear-eyeball1
{
	top: -3px;
	left: 5px;
	/*animation: xeavygear-eyeball1-anim 2s ease-in-out 0s infinite;*/
}

#xeavygear-eyeball2
{
	top: -3px;
	left: 5px;
	/*animation: xeavygear-eyeball1-anim 2s ease-in-out 0s infinite;*/
}

#noeyegear
{
	animation: xeavygear-gear-anim 5s linear 0s infinite;
}

@keyframes xeavygear-gear-anim {
  0%
  {
  	transform: rotate(0);
  }
  100%
  {
	transform: rotate(360deg);
  }
}

@keyframes xeavygear-eye1-anim {
  0%
  {
  	top: 55px;
  }
  50%
  {
	top: 60px;
  }
  100%
  {
	top: 55px;
  }
}

.graphui-container
{
	perspective: 1000px;
}

.graphui-container video
{
	transform: rotateY(10deg);
	max-width: 100%;
	height: 603px;
	object-fit: fill;
	filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.2)) !important;
	border-radius: 7px;
}

.xservcon
{
	perspective: 1000px;
}

.xservcon .single-feature-text-area
{
	transform: rotateY(-10deg);
	border-width: 2px;
	border-radius: 10px;
}

.vatnotify
{
	font-size: 11px;
	margin: 0px;
	margin-top: 20px;
	position: absolute;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
	left: 0px;
	text-align: right;

	bottom: 5%;
}

#sticky-header
{
	backdrop-filter: blur(20px);
	background-color: rgba(241, 246, 253, 0.1);
}

#dc-widget
{
	filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.2)) !important;
	border: 1px solid rgba(128, 131, 134, 0.2);
	border-radius: 7px;
}

.contact-bg-pattern, .single_faq
{
	border-radius: 7px;
}

.call-to-desc-footer h6
{
	color: #aaa;
	margin: 0px;
}

.slicknav_nav
{
	background-color: rgba(255, 255, 255, 0.97) !important;
}

.single-price-table-area
{
	height: 1100px;
}

.single-price-table-area .price-table-button
{
	left: 0px;
	position: absolute;
	bottom: 100px;
	justify-content: center !important;
	width: 100% !important;
}

.price-table-heading h2
{
	margin-bottom: 20px !important;
}

.price-table-heading h2 span
{
	font-family: 'Heebo';
	color: #586085;
	font-weight: 500;
	font-size: 17px;
	line-height: 1;
}

@media (max-width: 1199px)
{
	.graphui-container
	{
		display: none;
		visibility: hidden;
	}

	.xservcon
	{
		perspective: 0px;

		-webkit-box-flex: 0 !important;
	    -ms-flex: 0 0 100% !important;
	    flex: 0 0 100% !important;
	    max-width: 100% !important;
	}

	.xservcon .single-feature-text-area
	{
		transition: none;
		transform: rotateY(0deg);
	}

	#dc-widget
	{
		width: 100%;
	}
}

@media (max-width: 1671px)
{
	.video-wrapper
	{
		display: none;
		visibility: hidden;
	}

	.xservconnopersp
	{
		-webkit-box-flex: 0 !important;
	    -ms-flex: 0 0 100% !important;
	    flex: 0 0 100% !important;
	    max-width: 100% !important;
	}

	.welc-xserv-videoarea
	{
		display: none;
		visibility: none;
	}
}

@media (max-width: 991px)
{
	.logo
	{
		width: 55px;
	}

	.slicknav_menu
	{
		margin-top: -20px !important;
	}
}

@media (max-width: 768px)
{
	.vatnotify
	{
		bottom: unset;
	}

	.single-price-table-area
	{
		height: auto;
	}

	.single-price-table-area .price-table-button
	{
		left: 0px !important;
		position: unset !important;
		bottom: unset !important;
		justify-content: unset !important;
		width: auto !important;
	}
}

@media  (min-width: 992px) and (max-width: 1200px)
{
	.single-price-table-area
	{
		height: 1200px;
	}
}